//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

@theme "/home/zach/.local/share/rofi/themes/rounded-nord-dark.rasi"
